<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <script src="https://kit.fontawesome.com/5c85fd2f27.js" crossorigin="anonymous"></script>
    <script
        src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp,container-queries"></script>
    <link rel="stylesheet" href="output.css">
    <link rel="stylesheet" href="style.css">
    <title>Genz Blog</title>
</head>

<body>
    <section class="md:block hidden boss">
        <header class="pt-10 flex ">
            <h1 class="text-4xl font-bold ml-[5rem] ">GEN-Z INVESTORS</h1>
            <div class=" space-x-10 items-center ml-[8rem] pt-3">
                <a href="" class="">Design</a>
                <a href="" class="">Film</a>
                <a href="">Advertisment</a>
                <a href="">Digital</a>
                <a href="">Entertainment</a>
                <a href="">Gaming</a>
            </div>
            <i class="bi bi-search ml-[10rem] pt-4 "></i>
            <button class=" bg-blue-400 font-bold w-[8rem] h-[3.5rem] rounded-lg ml-[2rem] text-white">Login</button>
        </header>
    </section>

    <section class="md:hidden block boss">
        <div class=" pt-10 flex justify-between">
            <h1 class="text-4xl font-bold ml-9 ">GEN-Z INVESTORS</h1>

            <div class=" pt-3 mr-4 ">
                <i class="bi bi-list "></i>
            </div>
        </div>
    </section>


    <section class="leo">

        <!-- <section>
            <div>
                <div class="text-center pt-[3rem]">
                    <a href="" class="font-extrabold "> Help and support the creative community</a>
                </div>
                <div class="text-center pt-3">
                    <h1 class="text-7xl font-extrabold">We are Gen-Z Investors</h1>
                </div>
                <div class="text-center pt-3">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum sequi ratione eius, quis error
                    deleniti voluptate ullam quibusdam nesciunt!
                </div>
            </div>
            <div class="text-center pt-[2rem]">
                <button class=" bg-blue-400 font-bold w-[8rem] h-[3.5rem] rounded-lg text-white">Read Blogs</button>
            </div>
        </section> -->


        <section class=" pt-5 mx-auto ml-[14rem] md:block hidden">
            <div class="h-[80rem] w-[65rem] hoe ">
                <div class="ml-10 pt-5">
                    <h1 class="text-2xl font-semibold">10 super awesome illustrations to be inspired by</h1>

                    <h1 class="pt-2">Leave a Comment / Design / By Gen-Z</h1>
                </div>

                <div class="flex ml-10 pt-2">
                    <img src="hr.jpg" class="w-[60rem] h-[37rem] my-4" alt="">
                </div>

                <div class="pt-5 ml-10">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit voluptate velit esse cillum
                    dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
                    officia deserunt mollit anim id est laborum.
                </div>

                <div class="text-blue-400 text-center pt-[4rem]">
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip <br> ex ea
                    commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit <br> bresse cillum
                    dolore eu fugiat nulla pariatur.
                </div>

                <div class="ml-[4rem] pt-8">
                    <h1 class="text-4xl font-bold">Labore et dolore magna aliqua.</h1>

                    <h2 class="p-5">Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        Voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                        non proident, sunt in culpa qui officia deserunt mollit.</h2>

                    <li>Tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                        exercitation</li>
                    <li>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                        pariatur</li>
                    <li>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim
                        id est laborum
                    </li>
                </div>
            </div>
        </section>

        <section class="pt-5 ">
            <section class="md:hidden block bull h-[80rem] w-[38rem] justify-center ml-3 pt-[5rem]">
                <div class="">
                    <h1 class="text-2xl font-semibold ml-4 ">10 super awesome illustrations to be inspired by</h1>

                    <h1 class="pt-2 ml-4">Leave a Comment / Design / By Gen-Z</h1>
                </div>

                <div class="flex object-center ml-4 mr-4 pt-2">
                    <img src="hr.jpg" class="w-[60rem]" alt="">
                </div>

                <div class="pt-5 ml-4">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit voluptate velit esse cillum
                    dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
                    officia deserunt mollit anim id est laborum.
                </div>

                <div class="text-blue-400 text-center pt-[4rem]">
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit bresse cillum dolore eu fugiat
                    nulla pariatur.
                </div>

                <div class="ml-[4rem] pt-8">
                    <h1 class="text-4xl font-bold">Labore et dolore magna aliqua.</h1>

                    <h2 class="p-5">
                        Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                        nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Voluptate velit
                        esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                        sunt in culpa qui officia deserunt mollit.
                    </h2>

                    <li>Tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                        exercitation</li>
                    <li>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                        pariatur</li>
                    <li>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim
                        id est laborum
                    </li>

            </section>
        </section>

        <section class="flex ">
            <div class="ml-[14rem]">
                <i class="bi bi-arrow-left">Previous Post</i>
            </div>
            <div class="ml-[53rem]">
                <a href="">Next Post<i class="bi bi-arrow-right"></i></a>
            </div>
        </section>


        <section class="bg-gray-200">
            <div class="foot one flex p-10 justify-between">
                <div class="cat">
                    <ul class="flex">
                        <li data-id="All" class="mx-4 hover:text-blue-250 ease duration-800 cursor-pointer">All</li>
                        <li data-id="Design" class="mx-4 hover:text-blue-250 ease duration-800 cursor-pointer">Design
                        </li>
                        <li data-id="Film" class="mx-4 hover:text-blue-250 ease duration-800 cursor-pointer">Film</li>
                        <li data-id="Tech" class="mx-4 hover:text-blue-250 ease duration-800 cursor-pointer">Tech</li>
                        <li data-id="Health" class="mx-4 hover:text-blue-250 ease duration-800 cursor-pointer">Health
                        </li>
                        <li data-id="Entertainment" class="mx-4 hover:text-blue-250 ease duration-800 cursor-pointer">
                            Entertainment</li>
                        <li data-id="Gaming" class="mx-4 hover:text-blue-250 ease duration-800 cursor-pointer">Gaming
                        </li>
                    </ul>
                </div>
                <div class="socials">
                    <i class="fa-brands fa-x-twitter mx-4"></i>
                    <i class="fa-brands fa-linkedin-in mx-4"></i>
                    <i class="fa-brands fa-instagram mx-4"></i>
                    <i class="fa-brands fa-facebook-f mx-4"></i>
                    <i class="fa-brands fa-youtube mx-4"></i>
                </div>
            </div>

            <div class="foot two p-10 text-center">
                <h1 class="font-bold">Sign up to receive emails updates, fresh news and more!</h1>
                <div class="email my-4">
                    <input type="email" placeholder="Enter your email" class="w-96 border-gray-250 py-2">
                    <button
                        class="mx-4 px-6 py-2 rounded-lg text-white border-2 border-transparent hover:border-blue-250 hover:bg-transparent hover:text-blue-250 bg-blue-250 ease duration-300">Subscribe</button>
                </div>
            </div>

            <div class="foot three p-10 text-center">
                <p>Copyright © 2024 GenZ Blog | Powered by Gen-Z Blog</p>
            </div>
        </section>

    </section>
</body>

</html>